button
{
    font-size : 20px;
    align-self: center;
    background-color: beige;
    font-style: normal;
    scroll-padding-left: 2px;
}

.count{
   font-size : 20px;
    background-color: red;
    font-style: normal;
    scroll-padding-left: 2px;
}